/* RESET */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/* /RESET */

/* COMMON */
html{
    font-family: Whitney, Arial, Helvetica, sans-serif 
    font-size: 1rem;
}
.container{
    width: 60%;
    margin: 0 auto;
}  
a{
    text-decoration: none;
}  
/* /COMMON */

/* UTILITY */
.bg{
    background-color: lightgrey;
}
.h2mgn{
    margin-bottom: .5em;
}
.btn{
    display: inline-block;
    padding: .3em .5em;
    border-radius: 20px;
    background-color: white;
    color: black;
}
/* DEBUG */
.bdr{
    border: 1px dashed black;
/* /DEBUG */
}
/* /UTILITY */

/* HEADER */
header{
    width: 100%;
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    background-color: blue;
    /* DEBUG */
   min-height: 400px;
    /* /DEBUG */
}
.div-nav{
    padding: 10px;
}
header nav.sidebar{
    display: flex;
    justify-content: space-between;
    line-height: 20px;
}

nav .list-items{
    width: 50%;
}
nav.sidebar ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav ul a{
    color: white;
}
.div-jumbotron{
    width: 50%;
    margin: 0 auto;
    padding: 3.5em 0;
    /* DEBUG */
    min-height: 170px;
    /* /DEBUG */
}
.jumbotron{
    height: 170px;
    padding: 2em;
    text-align: center;
    color: white;
}
.jumbotron p{
    line-height: 1.5em;
}
#jumbobtn, #jumbobtn2{
    margin-top: 1em;
}
#jumbobtn2{
    background-color: black;
    color: white;
}
/* /HEADER */
/* MAIN */
section{
    padding: 20px;
}
.div-section{
    display: flex;
    /* DEBUG */
    /* /DEBUG */
}
.div-img{
    width: 60%;
}
.div-img img{
    width: 100%;
}
.div-text{
    width: 40%;
    /* DEBUG */
    background-color: pink;
    /* /DEBUG */
}
/* section4*/
.div-lastsection img{
    width: 100%;
}
/* /MAIN */
/* FOOTER */
footer{
    background-color: #1f1d1d;
    padding: 20px;
}
.div-footer{
    display: flex;
    margin-bottom: 20px;
    /* DEBUG */
    min-height: 300px;
    /* /DEBUG */
}
.foot-list{
    width: 70%;
    display: flex;
    /* DEBUG */
    height: 300px;
    background-color: aqua;
    /* /DEBUG */
}
.foot-text{
    width: 30%;
    /* DEBUG */
    height: 300px;
    background-color:coral;
    /* /DEBUG */
}
footer .ul-footlist{
    width: calc(100% / 4);
/* DEBUG */
border: 1px dashed white;
/* /DEBUG */
}
footer .foot-end{
display: flex;
line-height: 40px;
justify-content: space-between;
margin-top: 20px;
/* DEBUG */
background-color: aquamarine;
/* /DEBUG */
}
/* /FOOTER */